<%= form_for(@near_place) do |f| %>
  <% if @near_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@near_place.errors.count, "error") %> prohibited this near_place from being saved:</h2>

      <ul>
      <% @near_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kiosk %><br>
    <%= f.check_box :kiosk %>
  </div>
  <div class="field">
    <%= f.label :disco %><br>
    <%= f.check_box :disco %>
  </div>
  <div class="field">
    <%= f.label :beach %><br>
    <%= f.check_box :beach %>
  </div>
  <div class="field">
    <%= f.label :national_park %><br>
    <%= f.check_box :national_park %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_field :other %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br>
    <%= f.text_field :place_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
