<p>
  <strong>Kiosk:</strong>
  <%= @place.near_place.kiosk %>
</p>

<p>
  <strong>Disco:</strong>
  <%= @place.near_place.disco %>
</p>

<p>
  <strong>Beach:</strong>
  <%= @place.near_place.beach %>
</p>

<p>
  <strong>National park:</strong>
  <%= @place.near_place.national_park %>
</p>

<p>
  <strong>Other:</strong>
  <%= @place.near_place.other %>
</p>