<p id="notice"><%= notice %></p>

<p>
  <strong>Private toilet:</strong>
  <%= @place_facility.private_toilet %>
</p>

<p>
  <strong>Shared toilet:</strong>
  <%= @place_facility.shared_toilet %>
</p>

<p>
  <strong>Hot water:</strong>
  <%= @place_facility.hot_water %>
</p>

<p>
  <strong>Fridge:</strong>
  <%= @place_facility.fridge %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @place_facility.kitchen %>
</p>

<p>
  <strong>Microwave:</strong>
  <%= @place_facility.microwave %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @place_facility.parking %>
</p>

<p>
  <strong>Boat ramp:</strong>
  <%= @place_facility.boat_ramp %>
</p>

<p>
  <strong>Barbecue area:</strong>
  <%= @place_facility.barbecue_area %>
</p>

<p>
  <strong>Grill shed:</strong>
  <%= @place_facility.grill_shed %>
</p>

<p>
  <strong>Campfire place:</strong>
  <%= @place_facility.campfire_place %>
</p>

<p>
  <strong>Swimming pool:</strong>
  <%= @place_facility.swimming_pool %>
</p>

<p>
  <strong>Sound system:</strong>
  <%= @place_facility.sound_system %>
</p>

<p>
  <strong>Other:</strong>
  <%= @place_facility.other %>
</p>

<p>
  <strong>Place:</strong>
  <%= @place_facility.place %>
</p>

<%= link_to 'Edit', edit_place_facility_path(@place_facility) %> |
<%= link_to 'Back', place_facilities_path %>
