<p id="notice"><%= notice %></p>

<h1>Listing Place Nears</h1>

<table>
  <thead>
    <tr>
      <th>Kiosk</th>
      <th>Disco</th>
      <th>Beach</th>
      <th>National park</th>
      <th>Other</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_nears.each do |place_near| %>
      <tr>
        <td><%= place_near.kiosk %></td>
        <td><%= place_near.disco %></td>
        <td><%= place_near.beach %></td>
        <td><%= place_near.national_park %></td>
        <td><%= place_near.other %></td>
        <td><%= place_near.place %></td>
        <td><%= link_to 'Show', place_near %></td>
        <td><%= link_to 'Edit', edit_place_near_path(place_near) %></td>
        <td><%= link_to 'Destroy', place_near, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place near', new_place_near_path %>
