<p id="notice"><%= notice %></p>

<p>
  <strong>Kiosk:</strong>
  <%= @place_near.kiosk %>
</p>

<p>
  <strong>Disco:</strong>
  <%= @place_near.disco %>
</p>

<p>
  <strong>Beach:</strong>
  <%= @place_near.beach %>
</p>

<p>
  <strong>National park:</strong>
  <%= @place_near.national_park %>
</p>

<p>
  <strong>Other:</strong>
  <%= @place_near.other %>
</p>

<p>
  <strong>Place:</strong>
  <%= @place_near.place %>
</p>

<%= link_to 'Edit', edit_place_near_path(@place_near) %> |
<%= link_to 'Back', place_nears_path %>
