<!-----start-container---->
  <div class="bg">
    <div class="container">
    <div class="header">
      <div class="logo">
        <a href="#"><%= image_tag "logo.png", title: "miami" %><a>
      </div>
      <div class="clearfix"> </div>
    </div>
      <!----start-top-nav---->
     <nav class="top-nav">
      <ul class="top-nav">
        <li class="active"><a href="#home" class="scroll">Home</a></li>
        <li class="page-scroll"><a href="#about" class="scroll">About us</a></li>
        <li class="page-scroll"><a href="#gal" class="scroll">Places</a></li>
        <li class="page-scroll"><a href="#test" class="scroll">Register</a></li>
        <li class="page-scroll"><a href="#contact" class="scroll">Login</a></li>
      </ul>
      <a href="#" id="pull"><%= image_tag "nav-icon.png" , title: "menu"%></a>
    </nav>
  </div>
</div>
<!-----start-about---->
<div id="about" class="about">
  <div class="container">
    <div class="col-md-7 about-left">
      <%= image_tag "fun.jpg" %>
    </div>
    <div class="col-md-5 about-right">
      <h3>Discover the nature and have fun!</h3>
      <p>Find the best places to go camp.</p>
      <ul class="">
        <li>1.  Enjoy an incredible experience</li>
        <li>2.  Reserve your destination</li>
        <li>3.  Or chat about the place you want</li>
        <li>4.  We focus only on customer satisfaction.</li>
        <li>5.  We will never let you down.</li>
      </ul>
      <span>Guaranteed secure transaction - 100%</span>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-----//End-about---->
<!----start-gallery---->
<div id="gal" class="gallery">
  <div class="container">
    <div class="head">
      <h3>Places <span> </span></h3>
    </div>
    <div class="gallery-grids">
      <div class="gallery-grids-row1">
        <div class="col-md-8 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <%= image_tag "g1.jpg", class: "port-pic" %>
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Argentina places</span>
                <button>View place</button>
              </h2>
            </div>
          </a>
        </div>
        <div class="col-md-4 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <%= image_tag "g2.jpg", class: "port-pic" %>
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Argentina places</span>
                <button>View place</button>
              </h2>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
        <p class="place">Neuquen / <a href="#">Argentina</a></p>
      </div>
      <div class="gallery-grids-row1">
        <div class="col-md-6 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <%= image_tag "g3.jpeg", class: "port-pic" %>
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> switzerland places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="col-md-6 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <%= image_tag "g4.jpg", class: "port-pic" %>
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> switzerland places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
        <p class="place">Switzerland /<a href="#"></a></p>
      </div>
      <!----->
      <div class="gallery-grids-row1">
        <div class="col-md-4 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <%= image_tag "g22.jpg", class: "port-pic" %>
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Seattle places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="col-md-8 gallery-grid1">
          <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <%= image_tag "g11.jpg", class: "port-pic" %>
            <div class="b-wrapper">
              <h2 class="b-animate b-from-left    b-delay03 ">
                <span> Seattle places</span>
                <button>View photo</button>
                <label> <i class="fa fa-heart"> </i> 21</label>
              </h2>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
        <p class="place">Faena House / <a href="#">Seattle</a></p>
      </div>
    </div>
    <%= link_to "View all", places_path, class: "view-gallery-btn"  %>
    <!-- <a class="view-gallery-btn" href="#">View all</a> -->
  </div>
</div>
<!----//End-gallery---->
<!----start-consulation----->
<div id="con" class="consulation">
  <div class="container">
    <div class="head c-head">
        <h3>Want to rent your backyard? <span> </span></h3>
    </div>
    <div class="consulation-grids">
      <div class="col-md-5 consulation-left">
        <h4>Rent your place to other people</h4>
        <p>It's so easy to register</p>
      </div>
      <div class="col-md-7 consulation-right">
        <%= image_tag "fun2.jpg" %>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!----//End-consulation----->
<!----start-testmonials---->
<div id="test" class="testmonials">
  <div class="container">
    <div class="head c-head">
        <h3>Testimonials <span> </span></h3>
    </div>
    <!----start-testmonials-grids----->
    <div class="testmonials-grids text-center">
      <div class="col-md-4 testmonial-grid">
        <a href="#"><%= image_tag "t1.jpg", class: "t-pic", title: "name" %></a>
        <h5><a href="#">Stev Joni</a></h5>
        <span>Founder Appple</span>
        <p>Simply the best of the best</p>
      </div>
      <div class="col-md-4 testmonial-grid">
        <a href="#"><%= image_tag "t2.jpg", class: "t-pic", title: "name" %></a>
        <h5><a href="#">Alisher Usmanov</a></h5>
        <span>Ural Steel</span>
        <p>My soul is illuminated by an unearthly joy, as these beautiful spring morning, which I enjoy with all my heart. I'm all alone and blissfully happy in the local edge.</p>
      </div>
      <div class="col-md-4 testmonial-grid">
        <a href="#"><%= image_tag "t3.jpg", class: "t-pic", title: "name" %></a>
        <h5><a href="#">Jhon Oliver</a></h5>
        <span>Founder Lucoil</span>
        <p>When my lovely valley of steam rises and half-day sun is above an impermeable. thicket</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!----//End-testmonials-grids----->
  </div>
</div>
<!----//End-testmonials---->
<!----start-footer---->
<div class="footer text-center">
  <div class="container">
    <!-- <a href="#"> <%= image_tag "logo.png", title: "miami" %></a> -->
    <p class="copy-right">Template by <a href="http://w3layouts.com/">W3layouts</a></p>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  </div>
</div>
<!----//End-footer---->
<!-----//End-container---->
