<%= form_for(@place_cost) do |f| %>
  <% if @place_cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place_cost.errors.count, "error") %> prohibited this place_cost from being saved:</h2>

      <ul>
      <% @place_cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :regard %><br>
    <%= f.text_field :regard %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br>
    <%= f.text_field :place_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
