<p>
  <strong>Regard:</strong>
  <%= @place.place_cost.regard %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place.place_cost.price %>
</p>

<p>
  <strong>Place:</strong>
  <%= @place.place_cost.place %>
</p>

<%= link_to 'Edit', edit_place_cost_path(@place_cost) %> |
<%= link_to 'Back', place_costs_path %>
