<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :latitude , class: 'control-label'%><br>
    <%= f.text_field :latitude, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :longitude, class: 'control-label' %><br>
    <%= f.text_field :longitude, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= f.submit ' Public place', class: 'btn btn-primary glyphicon glyphicon-plus' %>
  </div>
<% end %>
