<!-- Page Content -->
<div class="container">
  <!-- Page Header -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Places for camp
              <small>-Mom: WTF! backpackers camping in our backyard</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->
 
  <div class="row">
      
  <% @places.each do |place| %>
  <!-- Projects Row -->
        <div class="col-md-6 portfolio-item">
          <a href="<%= place_path(place) %>">
              <img class="img-responsive" src="<%= place.feature_image %>" alt="">
          </a>
          <h3>
              <a href="<%= place_path(place) %>"><%= place.name %></a>
               <small><%= place.state.capitalize %> (<%= place.country.capitalize %>)<%= " - $ " + place.place_cost.price.to_s if place.place_cost  %></small>
          </h3>
          <p><%= place.description %></p>
          <p><a href="<%= place_path(place) %>">Read more</a></p>
      </div>
      <% end %>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->