 <!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <p class="lead">GoCamp Backpackers</p>
      <div class="list-group">
        <a href="<%= places_path %>" class="list-group-item active">Camps</a>
        <a href="" class="list-group-item">Sofas</a>
        <a href="" class="list-group-item">Hostels</a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= @place.feature_image %>" alt="">
        <div class="caption-full">
          <h4 class="pull-right"><%= "$ #{@place.place_cost.price}" if @place.place_cost %></h4>
          <h4><a href="#"><%= @place.name %></a>
          </h4>
          <p><%= @place.description %></p>
          <p class="glyphicon glyphicon-flag"> Country: <%= @place.country %>
          - <span class="glyphicon glyphicon-map-marker" > State:</span> <strong><%= @place.state %></strong></p>
          <p><span class="glyphicon glyphicon-globe" > Latitude </span><%= @place.latitude %>
           - <span class="glyphicon glyphicon-globe" > Longitude </span><%= @place.longitude %></p>
          <p><span class="glyphicon glyphicon-eye-open"> VACANCY: </span> <strong><%= @place.vacancy %></strong></p>
          <hr>
          <!-- ACA los otros modelos -->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- //panel -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Facilities
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <%= render partial: "place_facilities/facilities", object: @place if @place.place_facility %>
                </div>
              </div>
            </div>
            <!-- //panel -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Sport / Enterteiment
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <%= render partial: "place_sports/place_sports", object: @place if @place.place_sport %>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Near Places / Bussines
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <%= render partial: "near_places/near_places", object: @place if @place.near_place %> 
                </div>
              </div>
            </div>
            <!-- //panel -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                    Services
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <%= render partial: "place_services/place_services", object: @place if @place.place_service %>
                </div>
              </div>
            </div>
            <!-- //panel -->
                        <!-- //panel -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                    Costs
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <%= render partial: "place_costs/place_costs", object: @place if @place.place_cost %>
                </div>
              </div>
            </div>
            <!-- //panel -->
          </div>
<!-- // fin otros modelos --> 
          
        </div>
        <div class="ratings">
          <p class="pull-right"><a href='<%= url_for(action: 'show', controller: 'places', only_path: false, protocol: 'http') %>#disqus_thread'></a></p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
          </p>
        </div>
      </div>

        <div class="well">
            <div class="text-right">
                <p>Leave a Review</p>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                 <%= render partial: "disqus/thread", object: @place %>
                </div>
            </div>
        </div>

    </div>

  </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>




<%= link_to ' Edit', edit_place_path(@place), class: 'btn btn-primary glyphicon glyphicon-pencil' %> |
<%= link_to ' Back', :back, class: 'btn btn-default' %>
